body {
  transition: background-color 0.3s ease-in-out;
}

#word-display {
  letter-spacing: 10px;
}

#difficulty {
  cursor: pointer;
}

.custom-spinner {
  width: 80px;
  height: 80px;
}

#audio-icon {
  caret-color: transparent;
}
